
// Colors
$green: #98fb98;
$dark-green: #6fd66f;

// Body
// $body-bg: #f5f8fa;
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$text-color: #666666;
$light-text: #999999;